#content {
  background: linear-gradient(
    200deg,
    rgba(92, 30, 166, 1) 0%,
    rgba(200, 67, 94, 1) 100%
  );
}

#texture {
  background-image: url(src/assets/image/textureGartic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.box-home {
  width: 60vw;
  height: 90vh;
  font-family: "Nunito Black";
}

#createJoinGame {
  padding-right: unset;
  padding-left: unset;
  border-radius: 12px;
}

.nav-tabs,
.nav-link {
  border-bottom: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-bottom: unset;
}

#myTab .nav-link {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: unset;
}

.nav-tabs {
  border: none;
}

#myTabContent {
  background-color: rgba(80, 24, 81, 0.25);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

#myTab button {
  background-color: rgba(80, 24, 81, 0.25);
  color: rgba(255, 255, 255, 0.7);
}

#myTab .nav-link.active {
  border: none;
  font-size: 34px;
  text-shadow: rgb(23, 5, 87) 3px 0px 0px,
    rgb(23, 5, 87) 2.83487px 0.981584px 0px,
    rgb(23, 5, 87) 2.35766px 1.85511px 0px,
    rgb(23, 5, 87) 1.62091px 2.52441px 0px,
    rgb(23, 5, 87) 0.705713px 2.91581px 0px,
    rgb(23, 5, 87) -0.287171px 2.98622px 0px,
    rgb(23, 5, 87) -1.24844px 2.72789px 0px,
    rgb(23, 5, 87) -2.07227px 2.16926px 0px,
    rgb(23, 5, 87) -2.66798px 1.37182px 0px,
    rgb(23, 5, 87) -2.96998px 0.42336px 0px,
    rgb(23, 5, 87) -2.94502px -0.571704px 0px,
    rgb(23, 5, 87) -2.59586px -1.50383px 0px,
    rgb(23, 5, 87) -1.96093px -2.27041px 0px,
    rgb(23, 5, 87) -1.11013px -2.78704px 0px,
    rgb(23, 5, 87) -0.137119px -2.99686px 0px,
    rgb(23, 5, 87) 0.850987px -2.87677px 0px,
    rgb(23, 5, 87) 1.74541px -2.43999px 0px,
    rgb(23, 5, 87) 2.44769px -1.73459px 0px,
    rgb(23, 5, 87) 2.88051px -0.838247px 0px;
}

#myTab .nav-link:hover {
  border: none;
}

#myTab li:first-of-type {
  margin-right: 3px;
}

#myTab li:last-of-type {
  margin-left: 3px;
}

.nav-item button {
  border: none;
}

.pseudo-input {
  border: 3px solid white;
  border-radius: 6px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  height: 80px;
}

.pseudo-input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  outline: none;
}

.pseudo-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.icon-play-button {
  width: 49px;
  height: 57px;
  background-repeat: no-repeat;
  background-image: url(https://garticphone.com/images/ic_play.svg);
  background-position: center;
  background-size: 80%;
}

.button-start {
  background-color: white;
  border: none;
  box-shadow: 0 9px #301a6b;
  width: 320px;
  height: 75px;
}

.button-start:active {
  box-shadow: 0 3px #301a6b;
  transform: translateY(4px);
}

.button-start:hover {
  background-color: #cbb6e9;
}

.section-avatar-input {
  padding-left: 2rem;
}

.lol {
  padding-bottom: 45px;
}

.avatar-player {
  border: 8px solid white;
  border-radius: 50%;
  width: 270px;
  height: 270px;
  position: relative;
}

.avatar-image {
  /* MIN is 0 and MAX is 45 */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  width: 254px;
  height: 254px;
  min-height: 290px;
  margin-bottom: 47px;
}

.choose-avatar {
  position: absolute;
  width: 70px;
  height: 70px;
  right: -10px;
  bottom: 0px;
  border: none;
  background-color: #fff;
  border: 3px#fff solid;
  border-radius: 50%;
}

.choose-avatar:hover {
  background-color: #cbb6e9;
}

#modalChooseAvatar {
  top: 136px;
  left: -92px;
}

#modalChooseAvatar .modal-content {
  height: 390px;
}

#modalChooseAvatar .modal-header {
  height: 15%;
}

.btn-close:focus {
  box-shadow: none;
}

.avatar-item {
  margin: 3px
}

.avatar-link {
  display: block;
  border-radius: 50%;
}
