<div id="content" class="d-flex"> <!-- div pour mettre une image transparente -->

  <div id="texture" class="d-flex">

    <!-- <div class="box d-flex flex-column box-home" [style.transform]="'scale(' + scaleValue + ')'"> -->
      <div class="box d-flex flex-column box-home">

      <!-- LOGO -->
      <div id="logo" class="d-flex justify-content-center align-items-center mt-3">
        <img src="/assets/image/favicon_tbt/apple-touch-icon2.png">
      </div>

      <!-- MAIN BOX -->
      <div id="startHome" class="row mt-5 mx-2 mb-4 justify-content-evenly">

        <!-- CREER REJOINDRE -->
        <div id="createJoinGame" class="col-7">
          <ul class="nav nav-tabs justify-content-evenly nav-justified" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link text-uppercase" id="home-tab" data-bs-toggle="tab" data-bs-target="#createGame"
                type="button" role="tab" aria-controls="createGame" aria-selected="false">Créer</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link active text-uppercase" id="profile-tab" data-bs-toggle="tab"
                data-bs-target="#joinGame" type="button" role="tab" aria-controls="joinGame"
                aria-selected="true">Rejoindre</button>
            </li>
          </ul>

          <div class="tab-content" id="myTabContent">
            <!-- CREER -->
            <div class="tab-pane fade" id="createGame" role="tabpanel" aria-labelledby="home-tab">
              <form [formGroup]="formCreatePlayer" (ngSubmit)="onSubmitFormCreatePlayer()">

              <!-- AVATAR PSEUDO -->
              <div class="d-flex py-5 align-items-center justify-content-center">
                <!-- AVATAR -->
                  <div class="d-flex flex-column col-4 avatar-player justify-content-center">
                    <span class="avatar-image" [style.backgroundImage]="'url(' + avatarChosen + ')'"></span>
                    <button type="button" class="choose-avatar" data-bs-toggle="modal" data-bs-target="#modalChooseAvatar">O</button>
                  </div>
                  <!-- PSEUDO -->
                  <div class="d-flex flex-column col-7 text-center section-avatar-input">
                    <p class="text-white px-4">CHOISIS UN AVATAR ET UN SURNOM</p>
                    <input type="text" formControlName="name" class="pseudo-input px-2 fs-4 text-bold" maxlength="20" placeholder={{pseudoChosen}} />
                  </div>
              </div>

              <!-- BOUTON DEMARRER -->
              <div class="d-flex justify-content-center lol">
                <button type="submit" class="d-flex align-items-center button-start px-2 py-1 rounded" [disabled]="formCreatePlayer.invalid">
                  <i class="icon-play-button" aria-hidden="true"></i>
                  <strong class="mx-auto">DÉMARRER</strong>
                </button>
              </div>

              </form>
            </div>

            <!-- REJOINDRE -->
            <div class="tab-pane fade show active" id="joinGame" role="tabpanel" aria-labelledby="profile-tab">

              <!-- AVATAR PSEUDO -->
              <div class="d-flex py-5 justify-content-center">
                <!-- AVATAR -->
                <div class="d-flex flex-column col-4 avatar-player justify-content-center">
                  <span class="avatar-image" [style.backgroundImage]="'url(' + avatarChosen + ')'"></span>
                </div>
                <!-- PSEUDO -->
                <div class="d-flex flex-column col-7 text-center section-avatar-input">
                  <p class="text-white px-4" style="font-size: 26px; margin-top: 36px; margin-bottom: 41px;">RENSEIGNE
                    UN AVATAR, UN SURNOM ET LE CODE</p>
                  <input type="text" class="pseudo-input px-2 fs-4 text-bold mb-2" maxlength="20"
                    placeholder="PseudoCool6063" />
                  <input type="text" class="pseudo-input px-2 fs-4 text-bold" maxlength="8" placeholder="05jf90eX" />
                </div>

              </div>

              <!-- BOUTON DEMARRER -->
              <div class="d-flex justify-content-center lol">
                <button type="button" class="d-flex align-items-center button-start px-2 py-1 rounded">
                  <i class="icon-play-button" aria-hidden="true"></i>
                  <strong class="mx-auto">DÉMARRER</strong>
                </button>
              </div>

            </div>

          </div>
        </div>

        <!-- COMMENT JOUER -->
        <div class="box col-4 p-3 shadow-none">
          <div class="text-uppercase title-bold text-center mb-4">Comment Jouer</div>

          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/image/favicon_tbt/android-chrome-192x192.png" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="./assets/image/favicon_tbt/android-chrome-192x192.png" class="d-block w-100">
              </div>
              <div class="carousel-item">
                <img src="./assets/image/favicon_tbt/android-chrome-192x192.png" class="d-block w-100">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<!-- MODAL CHOIX DE SON AVATAR -->
<div class="modal fade" id="modalChooseAvatar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body d-flex flex-wrap flex-grow-0">
        @for (avatar of avatarsImage; track avatar.id) {
          <div class="avatar-item">
            <a href="#" class="avatar-link" (click)="onAvatarClick(avatar)">
              <img src={{avatar.url}} width="101px" height="101px"/>
            </a>
          </div>
        }
      </div>
    </div>
  </div>
</div>