<div id="content" class="d-flex"> <!-- div pour mettre une image transparente -->

  <div id="texture" class="d-flex"> <!-- div relief sur le fond -->

    <div class="box" id="box-party">

      <div id="logo" class="mt-4">
        <img src="/assets/image/favicon_tbt/apple-touch-icon2.png" alt="avatar">
      </div>

      <div id="startHome" class="row mt-5 mx-4 mb-4 align-items-start justify-content-between">

        <div id="player-box" class="col-3 p-0 text-uppercase ">

          <div class="text-center mt-1 mb-3 title-bold">joueurs {{players.length}}/10</div>

          <div class="player-list mb-2">

            <!-- ngFor display all users from the game -->

            <div class="player-user" *ngFor="let player of players">
              <div class="col-2">
                <div class="avatar">
                  <img src="{{randomImgGartic}}" alt="crown">
                </div>
              </div>
              <div class="col-8 ps-md-3 box-user-info">
                <p class="text-blue text-cut-dot m-0">{{player.name}}</p>
                <p class="text-cut-dot m-0 text-point">Points : {{player.point}}</p>
              </div>
              <div class="col-2 box-host">
                <!-- ngIf isHost=true -->
                <div class="icon-host" *ngIf="player.isHost">
                  <fa-icon style="color: rgb(231 225 255)" [icon]="faCrown"></fa-icon>
                </div>
              </div>
            </div>


          </div>

        </div>

        <div class="col-3 border text-uppercase">
          party
        </div>

        <div class="col-5 border border-dark text-uppercase">
          tchat
        </div>
      </div>


      </div>
  </div>
</div>
