@font-face {
  font-family: "Std_Black";
  src: url("src/assets/font/Std_Black.otf") format("opentype");
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 19px;
  font-family: "Std_Black", sans-serif;
  color: rgba(255,255,255,0.70);
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  pointer-events: none;
}

.title-bold {
  font-size: 25px;
  text-shadow: rgb(23,5,87) 3px 0px 0px,rgb(23,5,87) 2.83487px 0.981584px 0px,rgb(23,5,87) 2.35766px 1.85511px 0px,rgb(23,5,87) 1.62091px 2.52441px 0px,rgb(23,5,87) 0.705713px 2.91581px 0px,rgb(23,5,87) -0.287171px 2.98622px 0px,rgb(23,5,87) -1.24844px 2.72789px 0px,rgb(23,5,87) -2.07227px 2.16926px 0px,rgb(23,5,87) -2.66798px 1.37182px 0px,rgb(23,5,87) -2.96998px 0.42336px 0px,rgb(23,5,87) -2.94502px -0.571704px 0px,rgb(23,5,87) -2.59586px -1.50383px 0px,rgb(23,5,87) -1.96093px -2.27041px 0px,rgb(23,5,87) -1.11013px -2.78704px 0px,rgb(23,5,87) -0.137119px -2.99686px 0px,rgb(23,5,87) 0.850987px -2.87677px 0px,rgb(23,5,87) 1.74541px -2.43999px 0px,rgb(23,5,87) 2.44769px -1.73459px 0px,rgb(23,5,87) 2.88051px -0.838247px 0px;
}

.text-blue {
color: rgb(49 27 107);
}

#texture {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: none;
  transition-duration: 1s;
  margin: 0;
}

#content {
  height: 100%;
  width: 100%;
  border: none;
  transition-duration: 1s;
  margin: 0;
}

.box {
  border: 4px rgba(29,29,27,.15) solid;
  border-radius: 12px;
  box-shadow: inset 0px 2px 0px 0px rgba(255,255,255,.15),0px 3px 0px 0px rgba(255,255,255,0.15);
}

#logo {
  justify-content: center;
  align-items: center;
  display: flex;
}

.avatar {
  display: flex;
  align-items: flex-end;
  margin: 5px 0 5px 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(1, 36, 66);
  background-color: rgb(234, 241, 253);
}

.text-cut-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-point {
  font-size: 18px;
  color: rgba(0,0,0,.6);
  text-shadow: 3px 2px 3px rgba(255,255,255,.2);
}

.player-list {
  overflow-y: scroll;
  height: 35vh;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
