#content {
  background: linear-gradient(215deg, rgb(153, 16, 80) 0%, rgb(231, 77, 78) 85%);
}

#texture {
  background-image: url(src/assets/image/textureGartic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#box-game {
  width: 80%;
  height: 90%;
}

#player-box {
  background-color: rgb(76 40 152 / 1);
  border-radius: 5px;
  box-shadow: inset 0 2px 0 0 rgb(255 255 255 / 15%), 0 5px 0 0 rgb(52 20 97);
}

/* CSS ANIMATION */

/* SONAR WAVE*/

.sonar-wrapper {
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.sonar-emitter {
  position: relative;
  margin: 32px auto;
  width: 160px;
  height: 160px;
  border-radius: 9999px;
  background-color: HSL(45, 100%, 50%);
}

.sonar-wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: HSL(45, 100%, 50%);
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

.sonar-wave1 {
  -webkit-animation: sonarWave 5s linear infinite;
  animation: sonarWave 5s linear infinite;
}

.sonar-wave2 {
  -webkit-animation: sonarWave 5s 1s linear infinite;
  animation: sonarWave 5s 1s linear infinite;
}

@keyframes sonarWave {

  0% {
    opacity: 0.4;
  }
  50% {
    transform: scale(1.5);
    opacity: 0;
  }
}

/* CIRCLE PROGRESS BAR */



/* ANIMATION CSS SONAR WAVE STOP */

.title-music {

}

.input-type-general {
  height: 46px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  padding: 0 10px;
}

.input-type-general:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.tchat-box {
  background-color: rgb(98, 104, 201);
  border-radius: 5px;
  box-shadow: inset 0 2px 0 0 rgb(255 255 255 / 15%), 0 5px 0 0 rgb(108, 41, 196);
}

.tchat-comment {
  margin: 5px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tchat-user-info {
  align-items: center;
  justify-content: center;
}

.tchat-box-end {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.tchat-box-end::before {
  content: "";
  flex: 1 1 0;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.6);
}

.tchat-stats {
  font-size: 11px;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 1.51px;
  text-align: center;
  text-transform: uppercase;
  line-height: 18px;
  margin: 0 10px;
}

.tchat-box-end::after {
  content: "";
  flex: 1 1 0;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.6);
}

.tchat-user-info-text {
  font-size: 14px;
  color: rgba(0,0,0,.6);
  text-shadow: 3px 2px 3px rgba(255,255,255,.2);
  background-color: rgba(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-transform: none;
}

.tchat-user-info-text-bis {
  font-size: 14px;
  color: rgba(0,0,0,.6);
  text-shadow: 3px 2px 3px rgba(255,255,255,.2);
  background-color: rgba(255, 255, 255);
  padding: 3px 0 3px 10px;
  border-radius: 5px;
  text-align: start;
  text-transform: none;
}


